In [15]:
import yfinance as yf
def get_data(symbol: str):
    data = yf.download(tickers='BTC-USD', period='max', interval='1d')
    data = data.xs("BTC-USD", axis=1, level="Ticker")
    data.reset_index(inplace=True, drop=True)
    return data
# Get the data
data = get_data('BTC-USD')

/var/folders/ln/sphck21d1ldb9687pbhzy38c0000gn/T/ipykernel_67499/1575186379.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(tickers='BTC-USD', period='max', interval='1d')
[*********************100%***********************]  1 of 1 completed

In [18]:
import pandas_ta as ta

# function to calculate simple mean average (SMA)
def calculate_sma(data, length: int):
    return ta.sma(data['Close'], length)


data['SMA'] = calculate_sma(data, 20)
data.dropna(inplace=True)
data.reset_index(inplace=True, drop=True)

# 1 - Slope of MAs

In [42]:
import numpy as np

def calculate_slope(series, period: int=5):
    slopes = [0 for _ in range(period-1)]
    for i in range(period-1, len(series)):
        x = np.arange(period)
        y = series[i-period+1:i+1].values
        coeff = np.polyfit(x,y,1) # Perform linear fit
        slope = coeff[0]
        percentage_slope = (slope/y[0])*100 # Convert the slope to a percentage
        slopes.append(percentage_slope) # High +ve strong upward trend High -ve strong downward trend
    
    return slopes

In [43]:
data['Slope'] = calculate_slope(data['SMA'])

In [40]:
data

Price,Close,High,Low,Open,Volume,SMA,Slope
0,347.270996,359.860992,342.877014,358.610992,18127500,371.825601,0.000000
1,354.704010,359.221008,343.931000,347.487000,11272500,373.056851,0.000000
2,352.989014,358.631989,349.808990,354.777008,13033000,373.896951,0.000000
3,357.618011,359.984009,352.678986,353.214996,7845880,374.130852,0.000000
4,335.591003,357.833008,335.342987,357.088989,18192700,372.659102,0.073717
...,...,...,...,...,...,...,...
4037,99697.492188,104005.492188,97988.718750,101674.148438,101546815416,106793.519922,-0.309446
4038,94397.789062,99804.429688,94000.734375,99694.703125,114346441890,105931.323047,-0.477243
4039,95549.148438,96728.468750,94420.468750,94420.468750,38500716654,104985.158203,-0.651326
4040,94177.078125,96564.187500,92971.164062,95556.867188,71086235862,103988.045703,-0.796659
4041,92721.148438,95900.070312,92721.148438,94194.296875,86080782336,102976.294922,-0.896845

In [ ]:
import plotly.graph_objects as go

fig = go.